html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.breadcrumbs {

  &__inner {
    margin-top: 34px;
  }

  &__list {
    a {
      color: #fff;
    }

    li {
      display: inline-block;
      position: relative;
      font-size: 15px;

      &+li {
        padding-left: 17px;

        &::before {
          content: '/';
          position: absolute;
          left: 0;
          color: #bfcad7;
          font-size: 15px;
        }
      }

      &:last-child {

        a,
        span {
          color: #bfcad7;
        }
      }
    }
  }
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;

  span {
    color: #1D81EE;
  }
}

.text {
  max-width: 700px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #555555;
}