html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;

  span {
    color: #1D81EE;
  }
}
.text {
  max-width: 700px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #555555;
}