$grey:#EEF1F3;
$bg-blue:#441c7c;
$btn-blue:#0674ec;

// <span class="lnr lnr-briefcase"></span>
// <span class="lnr lnr-smile"></span>
// <span class="lnr lnr-cloud-download"></span>
// <span class="lnr lnr-cart"></span>
// <span class="lnr lnr-magic-wand"></span>
// <span class="lnr lnr-lock"></span>
// <span class="lnr lnr-license"></span>
// <span class="lnr lnr-phone"></span>
// <span class="lnr lnr-chart-bars"></span>
// <span class="lnr lnr-leaf"></span>