@import 'vars';
@import 'global';

.header-top {
  height: 100px;
  background-color: $grey;
  padding-top: 25px;
}

.header-top-inner,
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-left: 23px;
}

.header__box {
  &-btn {
    background-color: $btn-blue;
    border-radius: 24px;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 11px 18px;
    font-size: 14px;
    text-align: center;
    min-width: 100px;
  }
}

.header-box-item {
  &+.header-box-item {
    margin-left: 50px;
  }
}

.header__icon {
  &+.header__icon {
    margin-left: 30px;
  }
}

.header__user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user__phto {
  background-color: #7C7979;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}


.user {
  margin-left: 22px;
  line-height: 22px;

  a {
    color: #333333;
    font-size: 16px;
  }

  span {
    font-size: 15px;
    display: block;
    color: $btn-blue;
  }
}

.header__menu {
  height: 80px;
  background-color: #fff;
}

.header__botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  &-list {
    padding: 25px 0;
  }

  &-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;

    a {
      color: #333333;
    }

    &+.menu-item {
      margin-left: 33px;
    }

  }
}

.header__form {
  min-width: 358px;
  position: relative;

  input {
    width: 100%;
    padding: 15px 89px 15px 24px;
    border: 1px solid #d9dfe5;
    border-radius: 24px;
    outline: none;

    &::placeholder {
      color: #898f96;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 24px;
    background-color: $btn-blue;
    min-width: 72px;
    min-height: 49px;
    border: none;

    img {
      outline: none;
    }
  }

}

.newProduct {
  min-height: 726px;
  background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  text-align: center;
  color: #fff;
  padding-top: 160px;

  &__title {

    font-size: 60px;
    line-height: 70px;

    span {
      font-weight: 700;
      display: block;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 72px;
    margin-bottom: 50px;
  }

  &-link {
    border: 1px solid #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    min-width: 190px;
    border-radius: 30px;
    color: #fff;
    padding: 20px 30px;

    &+.newProduct-link {
      margin-left: 30px;
    }

    &.active_btn {
      background-color: #fff;
      color: #0674ec;
    }
  }

}

.search__product {
  position: relative;
}

.box-serch {
  &__inner {
    margin: 0 auto;
  }

  &__item {
    margin: 0 auto;
    height: 135px;
    background-color: #fff;
    border-radius: 6px;
    width: 1140px;
    position: absolute;
    top: -67px;

    &.box-search1 {
      top: -93px;
      opacity: 0.502;
      width: 1080px;
      right: 0;
      left: 0;
    }

    &.box-search2 {
      top: -80px;
      opacity: 0.502;
      width: 1110px;
      right: 0;
      left: 0;
    }

    &.box-search3 {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

      form {
        position: relative;

      }

      input {
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        width: 805px;
        height: 53px;
        outline: none;
        padding:0 226px 0 30px;
        color:#555;
        &::placeholder{
          color:#555;
        }
      }

      select {
        color:#676767;
        border: none;
        position: absolute;
        border-left: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        width: 193px;
        left: 611px;
        height: 53px;
        padding-left: 34px;
        outline: none;
      }

      button {
        border:none;
        outline: none;
        margin-left: 30px;
        border-radius: 4px;
        width: 223px;
        background-color: $btn-blue;
        padding: 15px 35px;
        color:#fff;
        font-size: 16px;
      }
    }
  }
}




.Rectangle_242_copy {
  background-color: rgb(6, 116, 236);
  position: absolute;
  left: 1267px;
  top: 876px;
  width: 223px;
  height: 55px;
  z-index: 733;
}






.feature {
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  height: 713px;
  border-radius: 4px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-top: 187px;
    padding: 40px 35px;
    border-radius: 4px;
    max-width: 361px;
    text-align: center;

    &.box-shadow {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
  }

  &__icon {
    width: 113px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
  }

  &__title {
    margin: 33px 0;
    font-size: 30px;
    font-weight: 700;
    font-weight: 400;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #555555;
  }
}